body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-529px;
  width:862px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:154px;
  width:377px;
  height:813px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:155px;
  width:375px;
  height:27px;
  display:flex;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:163px;
  width:360px;
  height:11px;
  display:flex;
}
#u631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:192px;
  width:72px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u632_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:196px;
  width:18px;
  height:18px;
  display:flex;
}
#u633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:196px;
  width:10px;
  height:18px;
  display:flex;
}
#u634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:260px;
  width:100px;
  height:58px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:280px;
  width:25px;
  height:19px;
  display:flex;
  color:#000000;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:269px;
  width:183px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:301px;
  width:65px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:336px;
  width:365px;
  height:1px;
  display:flex;
  color:#D7D7D7;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:366px;
  width:70px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:396px;
  width:70px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u641 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:427px;
  width:56px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:462px;
  width:70px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u643_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:366px;
  width:156px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u644_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:396px;
  width:109px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:427px;
  width:57px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:462px;
  width:56px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:465px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.701960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:502px;
  width:374px;
  height:465px;
  display:flex;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:112px;
  height:22px;
}
#u649p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:104px;
  height:4px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u649p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:4px;
}
#u649p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u649p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u649p002 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-1px;
  width:4px;
  height:6px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u649p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:471px;
  width:100px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.126440273459404deg);
  -moz-transform:rotate(0.126440273459404deg);
  -ms-transform:rotate(0.126440273459404deg);
  transform:rotate(0.126440273459404deg);
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:203px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:372px;
  width:2px;
  height:200px;
  display:flex;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:111px;
  height:22px;
}
#u651p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:6px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u651p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:6px;
}
#u651p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u651p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u651p002 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-10px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-180.126440273459deg);
  -moz-transform:rotate(-180.126440273459deg);
  -ms-transform:rotate(-180.126440273459deg);
  transform:rotate(-180.126440273459deg);
}
#u651p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:370px;
  width:100px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.126440273459404deg);
  -moz-transform:rotate(0.126440273459404deg);
  -ms-transform:rotate(0.126440273459404deg);
  transform:rotate(0.126440273459404deg);
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:111px;
  height:22px;
}
#u652p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:6px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u652p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:6px;
}
#u652p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-0.126440273459404deg);
  -moz-transform:rotate(-0.126440273459404deg);
  -ms-transform:rotate(-0.126440273459404deg);
  transform:rotate(-0.126440273459404deg);
}
#u652p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u652p002 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-10px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-180.126440273459deg);
  -moz-transform:rotate(-180.126440273459deg);
  -ms-transform:rotate(-180.126440273459deg);
  transform:rotate(-180.126440273459deg);
}
#u652p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:570px;
  width:100px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.126440273459404deg);
  -moz-transform:rotate(0.126440273459404deg);
  -ms-transform:rotate(0.126440273459404deg);
  transform:rotate(0.126440273459404deg);
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:363px;
  width:56px;
  height:16px;
  display:flex;
}
#u653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u653_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:563px;
  width:56px;
  height:16px;
  display:flex;
}
#u654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:423px;
  width:198px;
  height:94px;
  display:flex;
  font-size:14px;
}
#u655 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:918px;
  width:100px;
  height:30px;
  display:flex;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:918px;
  width:100px;
  height:30px;
  display:flex;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
